
<!--相关阅读 -->
<div class="xgread">
    <div class="til"><h4>相关阅读</h4></div>
    <div class="lef"><!--相关阅读主题链接--><script src='/jiehun/goto/my-65540.js' language='javascript'></script></div>
    <div class="rig">
        <ul>
            {foreach $data as $v}
            <li><a href='{:url("Index/article",["id"=>$v.id])}' target="_blank">{$v.title}</a></li>
            {/foreach}
        </ul>
    </div>
</div>

<!--频道推荐-->
<div class="hotsnew">
    <div class="til"><h4>频道推荐</h4></div>
    <ul>
        {foreach $data as $a}
        <li><div class="tu"><a href='{:url("Index/article",["id"=>$a.id])}' target="_blank"><img src={$a.pic} alt={$a.title}/></a></div><p><a href='./images/20160920156214.html'>{$a.title}</a></p></li>
        {/foreach}
    </ul>
</div>