<!--挂件头部-->
{:widget('Common/header')}
</head>
<!-- /头部 -->

<div class="main-container container-fluid">
    <div class="page-container">


        <!-- Page Sidebar -->
        <!--挂件菜单页-->
        {:widget('Common/left')}


        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <!--判断数据的状态切换模版-->
        <!--用户加载模版-->
        {if condition="isset($indexData)"}
        <!--挂件列表页-->
        {:widget('Common/lis')}
        {/if}
        <!--用户添加模版-->
        {if condition="isset($aeData)"}
        <!--挂件增改页-->
        {:widget('Common/ae')}
        {/if}
        <!-- /Page Content -->
        <!--用户加载-->
        {if condition="isset($memberList)"}

        <!--挂件列表页-->
        {:widget('Common/memberList')}
        {/if}

        {if condition="isset($memberAe)"}
        <!--挂件增改页-->
        {:widget('Common/memberAe')}
        {/if}
        {if condition="isset($memberaE)"}
        <!--挂件增改页-->
        {:widget('Common/memberAe')}
        {/if}
    </div>
</div>

<!--Basic Scripts-->
<script src="__STATIC__/admin/style/jquery_002.js"></script>
<script src="__STATIC__/admin/style/bootstrap.js"></script>
<script src="__STATIC__/admin/style/jquery.js"></script>
<!--Beyond Scripts-->
<script src="__STATIC__/admin/style/beyond.js"></script>


</body></html>