<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>童老师ThinkPHP交流群：484519446</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="童老师ThinkPHP交流群：484519446" />
<meta name="description" content="童老师ThinkPHP交流群：484519446" /> 
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link href="__STATIC__/index/style/lady.css" type="text/css" rel="stylesheet" />
<script type='text/javascript' src='__STATIC__/index/style/ismobile.js'></script>
</head>

<body>

{:widget('Common/header')}

<!--顶部通栏-->
{if condition="isset($da)"}
<div class="position"><a href='http://www.wed114.cn'>主页</a> >{$da['catename']}<a href=''></a> > </div>
{/if}

<div class="position"></div>

<div class="overall">

	<div class="left">
    {foreach $data as $c}
				<div class="xnews2">
				<div class="pic"><a target="_blank" href="{:url('Index/article',['id'=>$c.id])}"><img src={$c.pic} alt="在家如何自制烤肉 烤肉串致癌不适宜多吃"/></a></div>
				<div class="dec">
				<h3><a target="_blank" href="{:url('Index/article',['id'=>$c.id])}">{$c.title}</a></h3>
				<div class="time">发布时间：{$c.time|date="Y-m-d H:i:s",###}</div>
				<p>{$c.desc}</p>
					<?php
					   $keywords=$c['keywords'];
					   $arr=explode(",",$keywords);
					?>
				<div class="time">
					{foreach $arr as $v}
					<a href='z97712.html'>{$v}</a>
					{/foreach}
				</div>

				</div>
				</div>

		{/foreach}
				<!--<div class="pages">-->
				<!--<div class="plist" >-->
				<!--<ul><li class="thisclass">1</li>-->
<!--<li><a href='list_117_2.html'>2</a></li>-->
<!--<li><a href='list_117_3.html'>3</a></li>-->
<!--<li><a href='list_117_4.html'>4</a></li>-->
<!--<li><a href='list_117_5.html'>5</a></li>-->
<!--<li><a href='list_117_6.html'>6</a></li>-->
<!--<li><a href='list_117_7.html'>7</a></li>-->
<!--<li><a href='list_117_8.html'>8</a></li>-->
<!--<li><a href='list_117_9.html'>9</a></li>-->
<!--<li><a href='list_117_2.html'>下一页</a></li>-->
<!--<li><a href='list_117_1201.html'>末页</a></li>-->
<!--</ul>-->
				<!--</div>-->
				<!--</div>-->
	</div>


	{:widget('Common/right')}

</div>


<div class="footerd">
<ul>
<li>Copyright &#169; 2008-2016  all rights reserved 版权所有   <a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">蜀icp备08107937号</a></li> 
</ul>
</div>

<div style="display:none;"><script src='goto/my-65537.js' language='javascript'></script><script src="images/js/count_zixun.js" language="JavaScript"></script></div>

</body>
</html>